html, body {
  background: #EEF2F7;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#site {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  border-radius: 0;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid;
  min-width: 13em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: none;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
}

.jumbotron {
  background: #fff;
  text-align: center;
  width: 30vw;
  max-width: initial;
  box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 640px) {
  #site {
      display: block;
  }
  .jumbotron {
      width: auto;
  }
}

.loginBtn,
.loginBtn:hover {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Twitter */
.loginBtn--twitter {
  background-color: #1bb2e9;
  background-image: linear-gradient(#1bb2e9, #1BAEE4);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #1BAEE4;
}
.loginBtn--twitter:before {
  border-right: #1BAEE4 1px solid;
  background: url(../images/twitter.png) 6px 6px no-repeat;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  background-color: #1BAEE4;
  background-image: linear-gradient(#1BAEE4, #1bb2e9);
}